<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.thelightscope.lightscope</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Applications/LightScope.app/Contents/MacOS/lightscope-launcher</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/Applications/LightScope.app/Contents/Resources/logs/lightscope.log</string>
    <key>StandardErrorPath</key>
    <string>/Applications/LightScope.app/Contents/Resources/logs/lightscope-error.log</string>
    <key>WorkingDirectory</key>
    <string>/Applications/LightScope.app/Contents/Resources</string>
</dict>
</plist>
